nav.acceder ul{
    margin: 0;
    padding: 50px 80px;
    list-style: none;
    position: static;
    float: right;

}
nav.acceder #login{
    display: inline-block;
    font-size: 16px;
    padding: 1px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
}

nav.acceder #login-content{
    position: absolute;
    top: 80px;
    left: 970px;
    z-index: 999;
    background-color: #fff;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    display: none;
}

input#user, input#pass{
    background-color: #f1f1f1;
    padding: 6px 5px;
    margin-bottom: 10px;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit{
    background-color: #359AC2;
    border: 1px solid #044E6B;
    float: left;
    height: 28px;
    width: 100px;
    padding: 0;
    font: bold 14px Arial;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

#submit:hover{
    background-color: #044E6B;
}

label{
    float: right;
    line-height: 28px;
    font-size: 14px;
    color: #666;
}

